envdir

ipython
isort

pytest
pytest-xprocess
splinter

pdbpp==0.8.2

# For exploration
matplotlib
pandas

# Install package requirements.
# See: https://caremad.io/2013/07/setup-vs-requirement/
-e .
