<form action="" method="POST">
  <div>
    <label for="name">Tournament Name</label>
    <input id="name" type="text" name="name">
  </div>
  <div>
    <input id="submit" type="submit" value="Submit">
  </div>
</form>
